<body id="inner-page">
  <div id="top-nav-res-inner"> 
<img src="../assets/images/logo-inner.jpg" />
<div class="res-btn"><a href="#sub-footer"><img style="float:right; margin:20px 20px 0 0;" src="../assets/images/menu-responsive-btn.jpg" /></a></div>
<ul>
      <li><a href="/">home</a></li>
    <!--<li><a href="about.php">about us</a></li>-->
      <li><a href="/product">product</a></li>
      <!--<li><a href="news.php">news</a></li>-->
      <li><a href="/#authenticity">authenticity</a></li>
      <!--<li><a href="dealer.php">dealer</a></li>-->
     
                     
  </ul>
</div>



  <div class="container-left">
<a href="/"><img  src="../assets/images/logo-inner.jpg" style="width: 100%;" /></a>
<ul class="menu-inner">
     <li><a href="/">home</a></li>
    <!--<li><a href="about.php">about us</a></li>-->
      <li><a href="/product">product</a></li>
      <!--<li><a href="news.php">news</a></li>-->
      <li><a href="/#authenticity">authenticity</a></li>

     
  </ul>
</div>

  <div class="container-right">
     <div id="top-redline"></div>
     <div id="inner-content">
             <div class="head-subject1">
              <h1>Peptide</h1>
             
          <ul class="kind-steroid">
            <li><a href="/injection">injection Steroid</a></li>
              <li class="seperation">|</li>
              <li><a href="/performance-enhancer">Performance Enhancers</a></li>
              <li class="seperation">|</li>
              <li><a href="/peptide">Peptide</a></li>
          </ul>
             </div>
          <div class="content-box">
              <!--- Produt HGH ---->
              <div class="product-box">
                  <img src="../assets/images/med/9.JPEG"  class="product-thump-img"/>
                  <div class="info-section">
                      <h1>HGH</h1><span>Human Growth Hormone</span><br style="clear:both;" />
                      <p>Increase protein synthesis, promotes fat loss. Restores damaged cartilage, tendons & joints. Increases libido & energy. </p>
                      <div class="performance-infograph">
                          <table>
                              <tbody>
                                  <tr>
                                      <td class="performance-subject">Strength : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Muscle Gain : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Fat/Water Loss : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Side Effects : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Keep Gains : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="dose-info-box">
                          <table>
                              <tbody>
                                  <tr>
                                      <td class="dose-subject">Potency : </td>
                                      <td class="dose-info">     10 iu/vial.</td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Appearance  : </td>
                                      <td class="dose-info">lyophilized (freeze-dried) white powder.</td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Packing  : </td>
                                      <td class="dose-info">     10 x 10 iu/vials packed in sealed box.</td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Dosage  : </td>
                                      <td class="dose-info">4 iu - 6 iu/day.</td>
                                    </tr>
                              </tbody>
                          </table>

                      </div>
                   </div>
              </div>
              <!-- end Product-->

              <!--- Produt GHRP-6 ---->
              <div class="product-box">
                  <img src="../assets/images/med/16.JPEG"  class="product-thump-img"/>
                  <div class="info-section">
                      <h1>CJC 1295</h1><span></span><br style="clear:both;" />
                      <p> Stimulate muscle growth locally. Regenerates nerve tissue. Helps burn fat, increase protein transport into cells & reduce protein breakdown, decreases LDL cholesterol.

                      </p>
                      <div class="performance-infograph">
                          <table>
                              <tbody>
                                  <tr>
                                      <td class="performance-subject">Strength : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Muscle Gain : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Fat/Water Loss : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Side Effects : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Keep Gains : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="dose-info-box">
                          <table>
                              <tbody>
                                  <tr>
                                      <td class="dose-subject">Potency : </td>
                                      <td class="dose-info">     5 mg/vial.</td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Appearance  : </td>
                                      <td class="dose-info">     lyophilized (freeze-dried) white powder.</td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Packing  : </td>
                                      <td class="dose-info">10 x 5 mg/vials  packed in sealed box.</td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Dosage  : </td>
                                      <td class="dose-info">     200 mcg - 400 mcg two times daily.</td>
                                    </tr>
                              </tbody>
                          </table>

                      </div>
                   </div>
              </div>
              <!-- end Product-->

              <!--- Produt IGF-1 ---->
              <div class="product-box">
                  <img src="../assets/images/med/15.JPEG"  class="product-thump-img"/>
                  <div class="info-section">
                      <h1>GHRP-6</h1><span></span><br style="clear:both;" />
                      <p>GHRP-6 increases the natural production of human growth hormone in the body and thus have the same positive effects as synthetic human growth hormone such as fat loss, extremely increase appetite, better sleep and recovery.</p>
                      <div class="performance-infograph">
                          <table>
                              <tbody>
                                  <tr>
                                      <td class="performance-subject">Strength : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Muscle Gain : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Fat/Water Loss : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Side Effects : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Keep Gains : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="dose-info-box">
                          <table>
                              <tbody>
                                  <tr>
                                      <td class="dose-subject">Potency : </td>
                                      <td class="dose-info">     100 mcg/vial.</td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Appearance  : </td>
                                      <td class="dose-info">     lyophilized (freeze-dried) white powder.</td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Packing  : </td>
                                      <td class="dose-info">     10 x 100 mcg/vials packed in sealed box.</td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Dosage  : </td>
                                      <td class="dose-info">40 mcg - 100 mcg/day.</td>
                                    </tr>
                              </tbody>
                          </table>

                      </div>
                   </div>
              </div>
              <!-- end Product-->

              <!--- Produt CJC ---->
              <div class="product-box">
                  <img src="../assets/images/med/22.JPEG"  class="product-thump-img"/>
                  <div class="info-section">
                      <h1>IGF1-LR3</h1><span></span><br style="clear:both;" />
                      <p>Most potent growth hormone releasing peptide. Speed up muscle gain and fat loss. For maximum result stack wth GHRP-6.</p>
                      <div class="performance-infograph">
                          <table>
                              <tbody>
                                  <tr>
                                      <td class="performance-subject">Strength : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Muscle Gain : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Fat/Water Loss : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Side Effects : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Keep Gains : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="dose-info-box">
                          <table>
                              <tbody>
                                  <tr>
                                      <td class="dose-subject">Potency : </td>
                                      <td class="dose-info">     2 mg/vial.</td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Appearance  : </td>
                                      <td class="dose-info">     lyophilized (freeze-dried) white powder.</td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Packing  : </td>
                                      <td class="dose-info">10 x 2 mg/vials packed in sealed box.</td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Dosage  : </td>
                                      <td class="dose-info">     100 mcg three times daily, before breakfast, after training, before bed on empty stomach.</td>
                                    </tr>
                              </tbody>
                          </table>

                      </div>
                   </div>
              </div>
              <!-- end Product-->

              <!--- Produt Fragment ---->
              <div class="product-box">
                  <img src="../assets/images/med/20.JPEG"  class="product-thump-img"/>
                  <div class="info-section">
                      <h1>FRAGMENT</h1><span></span><br style="clear:both;" />
                      <p>Highly anabolic, promote localized muscle growth providing a PUMP and FULL look. Accelerate fat loss plus assist in regenerative nerve damage. Use in combination with IGF-1 to get full synergistic effect.</p>
                      <div class="performance-infograph">
                          <table>
                              <tbody>
                                  <tr>
                                      <td class="performance-subject">Strength : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Muscle Gain : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Fat/Water Loss : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Side Effects : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                                  <tr>
                                      <td class="performance-subject">Keep Gains : </td>
                                      <td class="performance-star">
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performanceR"></div>
                                          <div class="star-performance"></div>
                                      </td>
                                    </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="dose-info-box">
                          <table>
                              <tbody>
                                  <tr>
                                      <td class="dose-subject">Potency : </td>
                                      <td class="dose-info">     2000 mcg/vial.</td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Appearance  : </td>
                                      <td class="dose-info">     lyophilized (freeze-dried) white powder.</td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Packing  : </td>
                                      <td class="dose-info">     10 x 2000 mcg/vials packed in sealed box.</td>
                                    </tr>
                                  <tr>
                                      <td class="dose-subject">Dosage  : </td>
                                      <td class="dose-info">Locally inject 150 mcg per side into trained muscle immediately after workout.</td>
                                    </tr>
                              </tbody>
                          </table>

                      </div>
                   </div>
              </div>
              <!-- end Product-->

            
                           <!--- Produt Fragment ---->
                           <div class="product-box">
                            <img src="../assets/images/med/19.JPEG"  class="product-thump-img"/>
                            <div class="info-section">
                                <h1>BACTERIOSTATIC WATER</h1><span></span><br style="clear:both;" />
                                <!-- <p>Highly anabolic, promote localized muscle growth providing a PUMP and FULL look. Accelerate fat loss plus assist in regenerative nerve damage. Use in combination with IGF-1 to get full synergistic effect.</p> -->
                                <div class="performance-infograph">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="performance-subject">Strength : </td>
                                                <td class="performance-star">
                                                    <div class="star-performanceR"></div>
                                                    <div class="star-performanceR"></div>
                                                    <div class="star-performance"></div>
                                                    <div class="star-performance"></div>
                                                    <div class="star-performance"></div>
                                                </td>
                                              </tr>
                                            <tr>
                                                <td class="performance-subject">Muscle Gain : </td>
                                                <td class="performance-star">
                                                    <div class="star-performanceR"></div>
                                                    <div class="star-performanceR"></div>
                                                    <div class="star-performanceR"></div>
                                                    <div class="star-performanceR"></div>
                                                    <div class="star-performanceR"></div>
                                                </td>
                                              </tr>
                                            <tr>
                                                <td class="performance-subject">Fat/Water Loss : </td>
                                                <td class="performance-star">
                                                    <div class="star-performanceR"></div>
                                                    <div class="star-performanceR"></div>
                                                    <div class="star-performanceR"></div>
                                                    <div class="star-performanceR"></div>
                                                    <div class="star-performance"></div>
                                                </td>
                                              </tr>
                                            <tr>
                                                <td class="performance-subject">Side Effects : </td>
                                                <td class="performance-star">
                                                    <div class="star-performanceR"></div>
                                                    <div class="star-performance"></div>
                                                    <div class="star-performance"></div>
                                                    <div class="star-performance"></div>
                                                    <div class="star-performance"></div>
                                                </td>
                                              </tr>
                                            <tr>
                                                <td class="performance-subject">Keep Gains : </td>
                                                <td class="performance-star">
                                                    <div class="star-performanceR"></div>
                                                    <div class="star-performanceR"></div>
                                                    <div class="star-performanceR"></div>
                                                    <div class="star-performanceR"></div>
                                                    <div class="star-performance"></div>
                                                </td>
                                              </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="dose-info-box">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="dose-subject">Potency : </td>
                                                <td class="dose-info">     2000 mcg/vial.</td>
                                              </tr>
                                            <tr>
                                                <td class="dose-subject">Appearance  : </td>
                                                <td class="dose-info">     lyophilized (freeze-dried) white powder.</td>
                                              </tr>
                                            <tr>
                                                <td class="dose-subject">Packing  : </td>
                                                <td class="dose-info">     10 x 2000 mcg/vials packed in sealed box.</td>
                                              </tr>
                                            <tr>
                                                <td class="dose-subject">Dosage  : </td>
                                                <td class="dose-info">Locally inject 150 mcg per side into trained muscle immediately after workout.</td>
                                              </tr>
                                        </tbody>
                                    </table>
          
                                </div>
                             </div>
                        </div>
                        <!-- end Product-->
          </div>
     </div>
         <div id="sub-footer">
 <div class="pagewarp">
    <div class="box-25percent" id="injecton-steroid-menu">
        <ul><h1>Injection steroid</h1>
            <li><a href="/injection">WINNY-100</a></li>
              <li><a href="/injection">TREN A-100</a></li>
              <li><a href="/injection">EQ-300</a></li>
              <li><a href="/injection">DECA-300</a></li>
              <li><a href="/injection">TEST P-100</a></li>
              <li><a href="/injection">SUSTANON-300</a></li>
              <li><a href="/injection">TEST E-300</a></li>
              <li><a href="/injection">PRIMO-100</a></li>
              <li><a href="/injection">MAST P-100</a></li>
              <li><a href="/injection">TREN E-200</a></li>
              <li><a href="/injection">CYP-300</a></li>
          </ul>
      </div>
      <div class="box-25percent" id="oral-steroid-menu">
        <ul><h1>Oral steroid</h1>
            <li><a href="/oral">OXAN-10</a></li>
              <li><a href="/oral">STANO-10</a></li>
              <li><a href="/oral">CLEN-40</a></li>
              <li><a href="/oral">DBOL-10</a></li>
              <li><a href="/oral">OXY-50</a></li>
              <li><a href="/oral">CYTOMEL</a></li>
          </ul>
      </div>
      <div class="box-25percent" id="peptide-menu">
        <ul><h1>Peptide</h1>
            <li><a href="/peptide">HGH</a></li>
              <li><a href="/peptide">GHRP-6</a></li>
              <li><a href="/peptide">IGF-1</a></li>
              <li><a href="/peptide">CJC 1295</a></li>
              <li><a href="/peptide">Fragment</a></li>                   
          </ul>
      </div>
      <div class="box-25percent" id="bottom-menu">
        <ul>
            <li ><a class="main-menu" href="/">Home Pages</a></li>
            <li ><a class="main-menu" href="labstest.php">Labs test </a></li>
              <!--<li ><a class="main-menu" href="news.php">News</a></li>-->
              <li ><a class="main-menu" href="/product">Product</a></li>
              <li ><a class="main-menu" href="/#authenticity">Authenticity</a></li>
              <!--<li ><a class="main-menu" href="dealer.php">Dealer</a></li> 
              <li ><a class="main-menu" href="about.php">About us</a></li>    -->
                             
          </ul>
      </div>
  </div>
</div>               <div id="footer"> © Copyright Al Ayza, 2019</div>        </div>